@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    The goal is to provide a Website which allows the user upload the file.
    System demonstrates file statisticts to the user.
</p>
