@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>File Uploader</h1>
    <p class="lead">File Uploader is a demontrative MVC Web Application.</p>
    <p>
        <a href="/FileStatistics" class="btn btn-primary btn-lg">Enter the app</a>
    </p>

    <p>
        <a href="https://github.com/wmioduszewski/FileUploader" class="btn btn-info btn-default">View code &raquo;</a>
    </p>
</div>